.row
  .col-md-12
    .ism-slider(data-transition_type="fade", data-play_type="loop", data-radios="false")
      ol
        li
          img(src="img/slider-1.jpg")
          .ism-caption.ism-caption-0 My slide 1
        li
          img(src="img/slider-2.jpg")
          .ism-caption.ism-caption-0 My slide 2
        li
          img(src="img/slider-3.jpg")
          .ism-caption.ism-caption-0 My slide 3