extends layout

block myscripts
  link(rel='stylesheet', href='/css/slider.css')
  link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
  script(src='/js/lib/ism.js')
  script(src='/js/lib/moment.js')
  script(src='/js/lib/bootstrap-datetimepicker.min.js')
  script(src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places")
  script(src='/js/lib/jquery.geocomplete.min.js')
  script(src='/js/custom.js')


block content
  include partials/slider
  // Begin Body
  .container
    .row
      .col.col-sm-5
        #sidebar
          .row
            .col-xs-12.col-sm-12.col-md-12
              form(action="/reservation", role="form", method="POST", accept-charset="utf-8")
                //input(type="hidden", name="updated", value="#{moment(Date.now()).format('MM/DD/YYYY')}")
                //input(type="hidden", name="status", value="Pending")
                input(type='hidden', name='_csrf', value=_csrf)
                h3
                  | Book Your Car Service Now!
                  small
                hr.colorgraph
                .row
                  .col-xs-6.col-sm-6.col-md-6
                    .form-group
                      select#type.form-control.input-xs(name="service", tabindex="1")
                        option(value="") Service Type
                        option(value="Ride To Airport") Ride TO Airport
                        option(value="Ride From Airport") Ride FROM Airport
                        option(value="Hourly Service") Hourly Service
                        option(value="Door to Door Service") Door to Door Service
                        option(value="Long Distance Service") Long Distance Service
                  // veh
                  .col-xs-6.col-sm-6.col-md-6
                    .form-group
                      select#vehicle.form-control.input-xs(name="vehicle", tabindex="2")
                        option(value="") Vehicle
                        option(value="Sedan") Sedan
                        option(value="Van") Van
                        option(value="SUV") SUV
                #pick_addr_div.form-group
                  input#pickup_addr.form-control.input-xs(type="text", name="pickAddress", placeholder="Complete Pickup Address", tabindex="3")
                  script(type="text/javascript").
                    $(function(){
                      $("#pickup_addr").geocomplete();
                    });
                #drop_addr_div.form-group
                  input#drop_addr.form-control.input-xs(type="text", name="dropAddress", placeholder="Complete Droping Off Address", tabindex="4")
                  script(type="text/javascript").
                    $(function(){
                      $("#drop_addr").geocomplete();
                    });
                input#distance(type="hidden", name="distance", value="")
                .row
                  .col-xs-6.col-sm-6.col-md-6
                    .form-group
                      #datepicker.input-group.date
                        input#dt.form-control.input-xs(type="text", name="dt", placeholder="Date", tabindex="3")
                        span.input-group-addon
                          span.glyphicon.glyphicon-calendar
                  .col-xs-6.col-sm-6.col-md-6
                    .form-group
                      #timepicker.input-group.time
                        input#time.form-control.input-xs(type="text", name="time", placeholder="Time", tabindex="4")
                        span.input-group-addon
                          span.glyphicon.glyphicon-time
                script(type="text/javascript")
                  $(function () {
                  $('#datepicker').datetimepicker({format: 'M/D/YYYY'});
                  $('#timepicker').datetimepicker({format: 'HH:mm'});
                  });
                .row
                  .col-xs-6.col-sm-6.col-md-6
                    .form-group
                      select#pax.form-control.input-xs(name="passenger", tabindex="5")
                        option Passengers
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                  .col-xs-6.col-sm-6.col-md-6
                    .form-group
                      select#lgg.form-control.input-xs(name="luggage", tabindex="6")
                        option Luggages
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") 8
                        option(value="9") 9
                        option(value="10") 10
                        option(value="11") 11
                        option(value="12") 12
                        option(value="13") 13
                        option(value="14") 14
                        option(value="15") 15
                h4 Add Child Seat and Stop Over
                .row
                  .form-group
                    label.control-label.col-xs-8(for="stopOver") Select Stop Over
                    .col-xs-4
                      select#stop_over.form-control.input-xs(name="stopOver")
                        option(value="0") 0
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                .row
                  .form-group
                    label.control-label.col-xs-8(for="infantSeat")
                      | Infant Seat (Below 15
                      | Months)
                    .col-xs-4
                      select#infant_seat.form-control.input-xs(name="infantSeat")
                        option(value="0") 0
                        option(value="1") 1
                        option(value="2") 2
                .row
                  .form-group
                    label.control-label.col-xs-8(for="regularSeat")
                      | Regular Seat (15 Months
                      | - 3 Years)
                    .col-xs-4
                      select#regular_seat.form-control.input-xs(name="regularSeat")
                        option(value="0") 0
                        option(value="1") 1
                        option(value="2") 2
                .row
                  .form-group
                    label.control-label.col-xs-8(for="boosterSeat")
                      | Booster Seat (Above 3
                      | Years)
                    .col-xs-4
                      select#booster_seat.form-control.input-xs(name="boosterSeat")
                        option(value="0") 0
                        option(value="1") 1
                        option(value="2") 2
                hr.colorgraph
                .row
                  .col-xs-12.col-md-12
                    a#complete_reservation_btn.btn.btn-success.btn-block.btn-lg(title="You must select service type and vehicle to complete reservation", data-toggle="modal", href="#complete_reservation") Complete Reservation
                    #complete_reservation.modal.fade
                      .modal-dialog
                        .modal-content
                          .modal-header
                            button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                            h4.modal-title Complete Reservation
                          .modal-body
                            table.table.table-hover.table-striped.table-condensed
                              tr
                                th
                                th 
                                th Rate (USD)
                                th Total
                              tr
                                th Service Charge
                                td#tt
                                td#tr $0
                                td#tv $0
                              tr
                                th Distance (Miles)
                                td#dc 0
                                td#dr $0
                                td#dv $0
                              tr
                                th Passengers
                                td#pc Passengers
                                td $0
                                td $0
                              tr
                                th Luggeges
                                td#lc Luggeges
                                td $0
                                td $0
                              tr
                                th Stop Over
                                td#soc 0
                                td#sor $10
                                td#sov $0
                              tr
                                th Infant Seat
                                td#isc 0
                                td#isr $5
                                td#isv $0
                              tr
                                th Regular Seet
                                td#rsc 0
                                td#rsr $5
                                td#rsv $0
                              tr
                                th Booster Seat
                                td#bsc 0
                                td#bsr $5
                                td#bsv $0
                              tr
                                th.text-right(colspan="3") Grand Total =
                                th#t $0
                            input#total(type="hidden", name="total", value="")
                            .form-horizontal
                              .row
                                .form-group
                                  label.control-label.col-xs-4(for="lastName") Last Name
                                  .col-xs-7
                                    input#last_name.form-control.input-xs(type="text", name="lastName", value="", placeholder="Your Last Name")
                              .row
                                .form-group
                                  label.control-label.col-xs-4(for="firstName") First Name
                                  .col-xs-7
                                    input#first_name.form-control.input-xs(type="text", name="firstName", value="", placeholder="Your First Name")
                              .row
                                .form-group
                                  label.control-label.col-xs-4(for="email") Email
                                  .col-xs-7
                                    input#email.form-control.input-xs(type="text", name="email", value="", placeholder="Your Email Address")
                              .row
                                .form-group
                                  label.control-label.col-xs-4(for="contact") Phone
                                  .col-xs-7
                                    input#phone.form-control.input-xs(type="text", name="contact", value="", placeholder="Your Phone No (Required)")
                            .modal-footer
                              button.btn.btn-default(type="button", data-dismiss="modal") Go Back
                              input.btn.btn-success(type="submit", name="submit", value="Confirm & Submit")
      // end sidebar

      .col.col-sm-6
        .panel
          p &#160;
          .row
            .col-md-6.text-center
              img.img-circle(src="img/feat1.png")
              h3 Feature One
            .col-md-6.text-center
              img.img-circle(src="img/feat2.png")
              h3 Feature Two
          // /.row
          .row
            .col-md-6.text-center
              img.img-circle(src="img/feat4.png")
              h3 Feature four
            .col-md-6.text-center
              img.img-circle(src="img/feat5.png")
              h3 Feature five
          // /.row
          .row
            .col-md-6.text-center
              img.img-circle(src="img/feat3.png")
              h3 Feature four
            .col-md-6.text-center
              img.img-circle(src="img/feat6.png")
              h3 Feature five
          // /.row
        // feature panel end
      // col-7 end

    hr.colorgraph
    // footer
    .row.footer-part-1
      .col-md-3
        .padding-10
          | Address
          p
            | Lorem Ipsum
            br
            | Dolor Sit
            br
            | Amet | 2300
      .col-md-5
        .padding-10
          img(src="img/cc1.png")
          img(src="img/cc2.png")
          img(src="img/cc3.png")
      .col-md-4
        .padding-10
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi.